<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        height: 100svh;
        overflow: hidden;
      }

      .title-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        background: pink;
      }

      .title-text {
        color: blueviolet;
      }
    </style>

    <title>HELLO WORLD!</title>
  </head>
  <body>
    <div class="title-wrapper">
      <h1 class="title-text">HELLO WORLD</h1>
    </div>
    <div class="title-wrapper">
      <h1 class="title-text">HELLO WORLD</h1>
    </div>
    <div class="title-wrapper">
      <h1 class="title-text">HELLO WORLD</h1>
    </div>
    <div class="title-wrapper">
      <h1 class="title-text">HELLO WORLD</h1>
    </div>
    <div class="title-wrapper">
      <h1 class="title-text">HELLO WORLD</h1>
    </div>
    <div class="title-wrapper">
      <h1 class="title-text">HELLO WORLD</h1>
    </div>
    <div class="title-wrapper">
      <h1 class="title-text">HELLO WORLD</h1>
    </div>
  </body>
</html>